body{
  background-color: #2B2E4A;
  text-align: center;
}
h1{
  text-align: center;
  margin-top: 5%;
  color: #fff;
  font-size: 3rem;
}
h2{
  font-size: 2rem;
  color: #fff;
}
.tank img{
  width: 30%;
  margin: 0 auto;
}
.plane img{
  width: 30%;
  margin: 0 auto;
}
.ship img{
  width: 30%;
  margin: 0 auto;
}
.card{
  max-width: 80%;
  background-color: #903749;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  margin-top: 20%;
}
.card:hover{
  background-color: #E84545;
  cursor: pointer;
}
.guns{
  width: 10%;
  margin-top: 3%;
}
h6{
  margin-top: 2%;
  color: #fff;
}
a{
  text-decoration: none;
}
span:hover{
  color: #E84545;
}
i{
  color: #fff;
}
i:hover{
  color: #E84545;
  cursor:pointer;
}
